.scroll-pane {
  margin-top: 0em;
}
.scroll-pane.has-message {
  margin-top: 2.75em;
}
.table td {
  white-space: normal;
  line-height: 170%;
  width: 45em;
}
.table td p {
  margin-top: .8em;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f3f3f3;
}
