/* mixins */
.listRightCont {
  float: left;
  width: 100%;
}
.listLeft {
  float: left;
  margin-left: -97%;
  width: 11.5em;
}
.listRight {
  margin-left: 12.5em;
}
.listControls {
  visibility: hidden;
  display: inline-block;
  /* fix for IE 7 and below unsupport for inline-block */
  zoom: 1;
  *display: inline;
  padding-left: 8px;
  padding-bottom: 8px;
}
#deleteSelectedBtn {
  visibility: hidden;
}
.btn-group {
  margin-left: 5px;
}
.scroll-pane.width100 {
  width: 100%;
}
.table {
  width: auto;
  margin-right: 12px;
  margin-bottom: 0px;
}
.table th,
.table td,
.table td > span {
  width: auto;
  overflow: hidden;
}
.table th,
.table td {
  vertical-align: inherit;
}
.form-search {
  display: inline-block;
  /* fix for IE 7 and below unsupport for inline-block */
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.asset-actions {
  float: right;
}
.asset-actions .alert {
  padding: 4px 7px 4px 7px;
  font-size: .8em;
}
.badge {
  margin: 0px 2px 2px 0px;
}
.table input[type='checkbox'] {
  margin-right: 0;
}
.table th.center,
.table td.center {
  text-align: center;
  cursor: pointer;
}
.table td.checkone:hover {
  background-color: #e1e1e1;
}
.table th.checkall:hover {
  background-color: #e6e6e6;
}
.table td.checkone.cc-checked,
.table th.checkall.cc-checked {
  background-color: #0078D6;
}
.thumbImg {
  vertical-align: bottom;
}
